Source: puppet-rjil-keystone
Section: admin
Priority: optional
Maintainer: Anshu Prateek <Anshu.Prateek@ril.com>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.5
Homepage: https://github.com/JioCloud/puppet-rjil-keystone

Package: puppet-rjil-keystone
Architecture: all
Depends: ${misc:Depends}, rsync
Description: Complete collection of Puppet modules for JioCloud IAM
 This package contains all the modules used to run JioCloud IAM
